<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.meta.seo_title %}{{ page.meta.seo_title }} &#8211; {% endif %}{{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% if page.meta.seo_description %}{{ page.meta.seo_description }}{% else %}{{ site.description }}{% endif %}">
    <meta name="author" content="{{ site.author }}">
    {% if page.categories %}<meta name="keywords" content="{{ page.categories | join: ', ' }}">{% endif %}
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- MailChimp -->
    <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
    <style type="text/css">
      #mc_embed_signup .button {background:#3498db;font-size:16px;height:38px}
      #mc_embed_signup .button:hover {background:#2980b9}
      #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
      #mc_embed_signup{max-width:400px;margin:0 auto;}
      #mc_embed_signup input.email {width:240px;height:38px}
    </style>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ "/css/basscss.css" | prepend: site.baseurl }}" type="text/css">
    <link rel="stylesheet" href="{{ "/css/pixyll.css" | prepend: site.baseurl }}" type="text/css">
    <link rel="stylesheet" href="{{ "/css/solarized-dark.css" | prepend: site.baseurl }}" type="text/css">

    <!-- Fonts -->
    <link href='//fonts.googleapis.com/css?family=Merriweather:900,900italic,300,300italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Lato:900,300' rel='stylesheet' type='text/css'>

    <!-- OpenGraph data -->
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="http://thau.me/assets/img/avatar.jpg"/>
    <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"/>
    <meta property="og:title" content="{% if page.meta.seo_title %}{{ page.meta.seo_title }} &#8211; {% endif %}{{ site.title }}"/>
    <meta property="og:description" content="{% if page.meta.seo_description %}{{ page.meta.seo_description }}{% else %}{{ site.description }}{% endif %}" />
</head>
